<div class="ticket_bin" id="<%= bin.first.assigned_user_id rescue nil %>">
		<h4><%= bin.first.assigned_user_name rescue 'Unassigned' %></h4>
    <ul class="ticket_list" id="<%= bin.first.assigned_user_id rescue nil %>">
<% for ticket in bin %>
        <li class="ticket priority_<%=ticket.priority -%>" id="<%= ticket.unique_id %>">
          <div class="grabber">&nbsp;</div>
          <%= ticket.title.length > 30 ? ticket.title[0..30] + '...' : ticket.title %>
          <div class="tools">
            <a class='delete' href="#">
              <img src="/images/icon_delete.png" width="16" height="16" border="0" alt="Delete this ticket" title="Delete this ticket" />
            </a>
            <a class='reassign' href="#">
              <img src="/images/icon_status.png" width="16" height="16" border="0" alt="Change ticket status" title="Change ticket status" />
            </a>
          </div>
        </li>
<% end %>
    </ul> 
</div>

