<h1>LighterHouse</h1>
<br>
<%= render(:partial => "bin", :object => @jeff_tickets) %> 
<%= render(:partial => "bin", :object => @jordan_tickets) %> 
<%= render(:partial => "bin", :object => @moses_tickets) %> 
<%= render(:partial => "bin", :object => @chris_tickets) %>
<%= render(:partial => "bin", :object => @unassigned_tickets) %>

<br />