<div id="header">
  <div id="titles">
    <h1>
        <strong id="account-name">Animoto</strong>
        <a class="pname">Lighterhouse</a>
      
    </h1>
  </div>
  
</div>
<%= render(:partial => "bin", :object => @jeff_tickets) %> 
<%= render(:partial => "bin", :object => @jordan_tickets) %> 
<%= render(:partial => "bin", :object => @moses_tickets) %> 
<%= render(:partial => "bin", :object => @chris_tickets) %>
<%= render(:partial => "bin", :object => @unassigned_tickets) %>

<br />